
.header {
  max-width: 1440px;
  width: 100%;
}

.navbar {
  display: block;
  transition: padding 0.3s ease;
  padding: 0px 20px;
}

.navbar-scrolled {
  padding: 0;
}

nav ul {
  background: var(--secondary);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 0px 5%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  position: fixed;
  top: 2.25em;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.navbar-scrolled ul {
  background: var(--secondary);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 0px 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-radius: 0;
}




.header li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
}

a {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

a.navbar__brand {
  font-size: 3.5rem;
  font-style: oblique;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: #002d13;
  font-weight: 900;
  font-size: 3.5rem;
  display: flex;
}

.header li input {
  border-radius: var(--border-radius);
  display: inline-block;
  padding: 0.9rem 1.5rem;
  color: var(--main-color);
  /* border: var(--border); */
  outline: none;
  /* background: transparent; */
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  background: var(--olive);
  text-align: center;
}

.navbar__search {
  display: flex;
  align-items: center;
  background: var(--olive);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 0;
  margin-top: 0.5rem;
}

.navbar__search__form {
  display: flex;
  align-items: center;
  flex: 1;
}

.navbar__search__input-container {
  flex: 1;
  padding-right: 0.625em;
}

.navbar__search__input {
  padding: 0.625em;
  font-size: 17px;
  border-right: 1px solid #002d13;
  background: transparent;
  font-size: 16px;
  height: 40px;
  width: 100%;
  border: none;
}

.navbar__search__button {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: var(--border-radius);
  color: var(--main-color);
  background: transparent;
  cursor: pointer;
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
  height: 40px;
  border: none;
}

.navbar__search__button:hover {
  background-color: #002d13;
  color: #fff;
}

/* Clear floats */
.navbar form::after {
  content: "";
  clear: both;
  display: table;
}

nav a {
  text-decoration: none;
  /* margin: 0 1rem; */
  font-size: 1.5rem;
  color: var(--main-color);
}

.navbar a:hover,
.navbar a:visited,
.navbar a:link,
.navbar a:active {
  text-decoration: none;
}
.navbar a:hover {
  color: #204811;
}
.navbar a:active {
  color: #c0cb05;
}

.header li.btn button {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: var(--border-radius);
  color: var(--main-color);
  border: var(--border);
  background: transparent;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  background: var(--olive);
  text-align: center;
}
.header li.btn button:hover {
  background-color: #002d13;
  color: #fff;
}

.links button:hover {
  background-color: #002d13;
  color: #fff;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__show {
  height: 300px;
}
.modal__content {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 400px;
  width: 100%;
}
.modal-header {
  background-color: #204811;
}

.icon {
  height: 50px;
}

.end__sapa {
  margin-top: 80px;
}
.menu__icon {
  display: none;
}
.modal-side {
  max-width: 500px;
  width: 100%;
  background-color: #333;
  color: #c0cb05;
}

.modal-side .nav-links-modal {
  list-style: none;
  margin: 0;
  padding: 2rem;
}

.modal-side .nav-links-modal li {
  margin-bottom: 1rem;
}

.modal-side .navbar__brand {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #c0cb05;
}

.modal-side .navbar__brand img {
  margin-right: 0.5rem;
  height: 2rem;
}

.modal-side .navbar__search__form {
  display: flex;
  align-items: center;
}

.modal-side .navbar__search__input-container {
  flex-grow: 1;
  margin-right: 1rem;
}

.modal-side .navbar__search__input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  background-color: #555;
  color: #c0cb05;
}

.modal-side .navbar__search__button {
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: #c0cb05;
  color: #333;
}

.modal-side .nav-links-modal a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #c0cb05;
}

.modal-side .nav-links-modal a:hover {
  color: #fff;
}

.modal-side .nav-links-modal svg {
  margin-left: 0.5rem;
}

.modal-side .openModalLink {
  border: none;
  border-radius: 2rem;
  padding: 0 1rem;
  background-color: #c0cb05;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal-side .openModalLink:hover {
  background-color: #b3c107;
}

.nav-links-modal li a {
  color: #c0cb05;
  list-style: none;
}

.nav-links-modal li button {
  color: #c0cb05;
}
.modal-content {
  background-color: var(--main-color) !important;
}
.modal-header {
  border-bottom: none;
}

.modal-side .modal-dialog {
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .nav-links li:not(:first-child) {
    display: none;
  }
  .menu__icon {
    display: block;
    font-size: 2em;
    color: #002d13;
    cursor: pointer;
  }

  .navbar__links {
    display: none;
    position: absolute;
    top: 60px; /* adjust the value according to your design */
    left: 0;
    width: 100%;
    padding: 0.625em;
    background-color: #333;
    z-index: 1;
  }

  .navbar__links li {
    text-align: center;
    margin: 10px 0;
  }

  .navbar__links a {
    display: block;
    color: #fff;
    font-size: 1.2rem;
  }
  .modal-side {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 80%;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
    transition: transform 0.3s ease-in-out;
    /* height: 300px; */
  }

  .modal-side.hidden {
    transform: translateX(100%);
  }
  .custom-modal-class .modal-content {
    width: 300px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
}
